/* *全局样式设置 */
@font-face {
  font-family: cIconfont;
  src: url('https://pss.bdstatic.com/static/superman/font/iconfont-cdfecb8456.eot');
  src: url('https://pss.bdstatic.com/static/superman/font/iconfont-cdfecb8456.eot?#iefix') format('embedded-opentype'), url('https://pss.bdstatic.com/static/superman/font/iconfont-fa013548a9.woff2') format('woff2'), url('https://pss.bdstatic.com/static/superman/font/iconfont-840387fb42.woff') format('woff'), url('https://pss.bdstatic.com/static/superman/font/iconfont-4530e108b6.ttf') format('truetype'), url('https://pss.bdstatic.com/static/superman/font/iconfont-74fcdd51ab.svg#iconfont') format('svg')
}

body, html {
  height: 100%; /* 设置body和html的高度为100% */
  margin: 0; /* 去除默认的margin */
  padding: 0; /* 去除默认的padding */
  position: relative; /* 确保 body 容器具有相对定位 */
}

/* *导航栏部分 */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f2f2f2; */
  padding: 10px;
}

nav a {
  text-decoration: none;
  font: 14px/23px Arial,sans-serif;
  padding: 5px; 
}

nav a:hover {
  color: blue;
}

.nav-left {
  display: flex;
}

.nav-left a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.nav-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-right a {
  margin-right: 10px;
  text-decoration: none;
}

.setting-btn {
  color: #333 ;
  border-radius: 5px;
  padding: 5px;
}

.login-btn {
  background-color: #4E6EF2;
  color: #ffffff;
  border-radius: 5px;
  height: 12px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn:hover {
  color: #ffffff;
  background-color: #315EFB;
}

/* *主页面部分 */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
/*   border: 1px solid #000;  *//* !为了更好地可视化效果 */
  margin: 0 auto;
  width: 653px;
  height: calc(100vh - 80px);; /* 设置容器的高度为整个视口的高度 */
}

.logo img {
  box-sizing: border-box;
  display: block;
  width: 270px;
  margin-bottom: 15px;
  /* border: 1px solid #000; */ /* !为了更好地可视化效果 */
} 

.search-box {
  /*border: 1px solid #000; /* 为了更好地可视化效果 */
  width: calc(100% - 20px); 
}

.input-ctrl {
  display: flex;
  justify-content: space-between; /* 将元素分别对齐到容器的左右两端 */
  
}

.input-and-cam {
  display: flex;
  position: relative; /* 添加相对定位，以便设置子元素的定位 */
  align-items: center;
  flex-direction: row;
}

.cam-btn {
  box-sizing: border-box;
  position: absolute; /* 添加绝对定位，以便进行绝对定位 */
  z-index: 2;
  width: 24px;
  height: 24px;
  object-fit: cover;
  object-position: 0px -47px;
  top: 50%; /* 相对于父元素垂直居中 */
  left: 95%; /* 相对于父元素水平居中 */
  transform: translate(-50%, -50%); /* 通过transform进行微调居中位置 */
  /*border: 1px solid #000; *//* !为了更好地可视化效果 */
}

.cam-btn:hover {
  object-position: 0px -71px;
}

.input-box {
  box-sizing: border-box;
  z-index: 1;
  height: 42px;
  padding: 5px;
  width: 555px;
  border: 2px solid #b6b6b6; /* 细边框 */
  border-radius: 10px 0 0 10px;
}

.input-box:hover {
  border: 2px solid #8b8b8b; /* 细边框 */
}

.input-box:focus {
  outline-style:none;
  border: 2px solid #4E6EF2; 
}

.search-btn {
  z-index: 1;
  box-sizing: border-box;
  height: 42px;
  width: 15%;
  font-size: 16px;
  color: #ffffff;
  background-color: #4E6EF2;
  border: 1px solid #4E6EF2; /* 细边框 */
  border-radius: 0 10px 10px 0;
}

.search-btn:hover {
  background-color: #4662D9;
}

/* *热搜部分 */

.hot-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 将元素分别对齐到容器的左右两端 */
  flex-direction: row;
  margin-top: 45px;
  margin-bottom: -8px;
  font-size: 14px;
  /*border: 1px solid #000; /* 为了更好地可视化效果 */
  font-family: cIconfont;
}

.hot-btn {
  text-decoration: none;
  color: #000000;
}

.hot-btn:hover {
  color: #315EFB;
}

.hot-arrow {
  margin-left: -3px;
  color: #9195A3;
}

.refresh-ctrl {
  color: #4e4e4e;
}

.refresh-btn {
  display: inline-block;
  transition: transform 1s;
}

.rotate {
  transform: rotate(360deg);
}

/* *热搜列表 */

.hot-list {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  column-count: 2;
  list-style-type: none; /* 去除圆点 */
  padding: 0; /* 去除默认的内部缩进 */
  
}

.hot-list li {
  display: flex;
  flex-direction: row;
  text-align: center;

  box-sizing: border-box;
  font-family: Arial,sans-serif;

  padding: 0px;
  /* border: 1px solid #000; /* !为了更好地可视化效果 */ 
  height: 36px;
  
}


.hot-list a {
  color: #000;
  text-decoration: none;
}

.hot-list :hover {
  text-decoration: underline; /* 添加下划线 */
  color: #315EFB;
}

[class^="hot-num-"] {
  display: inline-block;
  text-align: center;
  width: 16px;
  margin-right: 5px;
  color: #9195A3;
  font-family: cIconfont;
}

.hot-num-top {
  transform: rotate(180deg);
  color: #F63051;
}

.hot-num-1 {
  color: #FE2D46;
}

.hot-num-2 {
  color: #FF6618;
}

.hot-num-3 {
  color: #FAA90E;
}


[class^="hot-hot-"] {

  display: inline-block;
  transform: scale(0.8); /* 可以根据需要调整缩放比例 */
  transform-origin: center;
  
  color: #ffffff;
  background-color: #FF6600;
  padding: 0 2px;
  border-radius: 4px;
  font-weight: 200;
}

.assist-and-qrcode {
  position: absolute; /* 使用绝对定位 */
  bottom: 60px; /* 与底部的距离 */
  right: 28px; /* 与右侧的距离 */
  height: 88px;
  width: 44px;

  border-radius: 50px;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 50px #7f7f7f33; /* 添加阴影效果 */

  box-sizing: border-box;
  margin-bottom: auto;
  margin-left: auto;
  flex-direction: column;
  /* border: 1px solid #000; */ /* !为了更好地可视化效果 */ 
}


.assist {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50px;
  
  box-sizing: border-box;
/*   border: 1px solid #000; */ /* !为了更好地可视化效果 */ 
}

.assist:hover {
  box-shadow: 0px 2px 10px #7f7f7f33; /* 添加阴影效果 */
}

.assist-icon {
  transform: scale(0.75);
}

.qr  {
  display: flex; /* 添加 display: flex; 使其成为一个 flex 容器 */
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;

  box-sizing: border-box;
  background-image: url(https://pss.bdstatic.com/static/superman/img/qrcode/qrcode@2x-daf987ad02.png);
  background-size: 74%;
  background-position: center; /* 居中显示背景图片 */
  /*   border: 1px solid #000; */ /* !为了更好地可视化效果 */ 
}

.qr-icon {
  transform: scale(0.8);
}

.qr:hover {
  background-image: url(https://pss.bdstatic.com/static/superman/img/qrcode/qrcode-hover@2x-f9b106a848.png);
  box-shadow: 0px 2px 10px #7f7f7f33; /* 添加阴影效果 */
}


/* *底栏部分 */

footer {
  text-align: center;
  font-family: cIconfont;
}

footer a {
  text-decoration: none;
  color: #a3a3a3;
  font-size: 12px;
  padding: 5px;   /*左右间隔*/ 
}

footer a:hover {
  color: #000000;
}


