@font-face {
  font-family: cIconfont;
  src: url('https://pss.bdstatic.com/static/superman/font/iconfont-cdfecb8456.eot');
  src: url('https://pss.bdstatic.com/static/superman/font/iconfont-cdfecb8456.eot?#iefix') format('embedded-opentype'), url('https://pss.bdstatic.com/static/superman/font/iconfont-fa013548a9.woff2') format('woff2'), url('https://pss.bdstatic.com/static/superman/font/iconfont-840387fb42.woff') format('woff'), url('https://pss.bdstatic.com/static/superman/font/iconfont-4530e108b6.ttf') format('truetype'), url('https://pss.bdstatic.com/static/superman/font/iconfont-74fcdd51ab.svg#iconfont') format('svg')
}

body, html {
  height: 100%; /* 设置body和html的高度为100% */
  margin: 0; /* 去除默认的margin */
  padding: 0; /* 去除默认的padding */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f2f2f2; */
  padding: 10px;
}

nav a {
  text-decoration: none;
  font: 13px/23px Arial,sans-serif;
  padding: 5px; 
}

nav a:hover {
  color: blue;
}

.nav-left {
  display: flex;
}

.nav-left a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.nav-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-right a {
  margin-right: 10px;
  text-decoration: none;
}

.setting-btn {
  color: #333;
  border-radius: 5px;
  padding: 5px;
}

.login-btn {
  background-color: #4E6EF2;
  color: #ffffff;
  border-radius: 5px;
  height: 10px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000; /* 为了更好地可视化效果 */
  margin: 0 auto;
  width: 60%;
  height: calc(100vh - 80px);; /* 设置容器的高度为整个视口的高度 */
}

.logo img {
  border: 1px solid #000; /* 为了更好地可视化效果 */
  transform: scale(0.5);
} 

.search-box {
  /*border: 1px solid #000; /* 为了更好地可视化效果 */
  width: calc(100% - 20px); 
}

.input-ctrl {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 将元素分别对齐到容器的左右两端 */
   /*border: 1px solid #000; /* 为了更好地可视化效果 */
}

.input-box {
  height: 30px;
  width: 80%;
  border-radius: 10px;
}

.search-btn {
  height: 30px;
  width: 20%;
  color: #ffffff;
  background-color: #4E6EF2;
  border-radius: 10px;
}


.hot-title {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 将元素分别对齐到容器的左右两端 */
  flex-direction: row;
  border: 1px solid #000; /* 为了更好地可视化效果 */
  font-family: cIconfont;
}

.hot-btn {
  border: 1px solid #000; /* 为了更好地可视化效果 */
  
}

.hot-list ul {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.refresh-btn {
  border: 1px solid #000; /* 为了更好地可视化效果 */
}
footer {
  text-align: center;
  font-family: cIconfont;
}

footer a {
  text-decoration: none;
  color: #a3a3a3;
  font-size: 12px;
  padding: 5px;   /*左右间隔*/ 
}


