nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f2f2f2; */
  padding: 10px;
}

nav a {
  text-decoration: none;
  font: 13px/23px Arial,sans-serif;
  padding: 5px; 
}

nav a:hover {
  color: blue;
}

.nav-left {
  display: flex;
}

.nav-left a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.nav-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-right a {
  margin-right: 10px;
  text-decoration: none;
}


.setting-btn {
  color: #333;
  border-radius: 5px;
  padding: 5px;
}

.login-btn {
  background-color: #4E6EF2;
  color: #ffffff;
  border-radius: 5px;
  height: 10px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  align-items: center;
  padding: 5px;   /*左右间隔*/ 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

main {
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
  margin: auto;
  width: 50%;
}

.search-box {
  display: flex;
  align-items: center;
  height: 15px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #4E6EF2;
  background: #fff;
  color: #222;
  margin: auto;
  width: 50%;
}

.search-box input {
  width: 410px;
  height: 28px;
  border: none;
  outline: none;
  
}

.search-box button {
  width: 80px;
  height: 40px;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0 10px 10px 0;
  background-color: #4E6EF2;
}
