body, html {
  height: 100%; /* 设置body和html的高度为100% */
  margin: 0; /* 去除默认的margin */
  padding: 0; /* 去除默认的padding */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f2f2f2; */
  padding: 10px;
}

nav a {
  text-decoration: none;
  font: 13px/23px Arial,sans-serif;
  padding: 5px; 
}

nav a:hover {
  color: blue;
}

.nav-left {
  display: flex;
}

.nav-left a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.nav-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-right a {
  margin-right: 10px;
  text-decoration: none;
}

.setting-btn {
  color: #333;
  border-radius: 5px;
  padding: 5px;
}

.login-btn {
  background-color: #4E6EF2;
  color: #ffffff;
  border-radius: 5px;
  height: 10px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn :hover{
  color: #ffffff
  background-color: #264ff1;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000; /* 为了更好地可视化效果 */
  margin: 0 auto;
  width: 50%;
  height: calc(100vh - 20px);; /* 设置容器的高度为整个视口的高度 */
}

.logo {
} 

.search-box {
}

footer a {
  text-decoration: none;
  height: 20px;
  color: #333;
  font-size: 12px;
  align-items: center;
  padding: 5px;   /*左右间隔*/ 
}



